{% extends "base.html" %}

{% block announce %}
  For updates follow <strong>Nick Frichette</strong> on
  <a rel="me" href="https://bsky.app/profile/frichetten.com">
    <span class="twemoji bluesky">
      {% include ".icons/fontawesome/brands/bluesky.svg" %}
    </span>
    <strong>Bluesky</strong>
  </a>
  and
  <a href="https://twitter.com/frichette_n">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>.
{% endblock %}

{% block content %}
  {% if page.meta.author_name %}
    <p>Article by {{ page.meta.author_name }}</p>
  {% endif %}
  {{ super() }}
{% endblock %}
